# Ignore Python virtual environments
api/.venv/
# Ignore cache
api/__pycache__/
# Ignore Docker and git metadata
api/Dockerfile.dev
api/.dockerignore
api/.gitignore
# Ignore directories with large data
api/data/
api/music/
# Optional: ignore logs or temp files
*.log
*.tmp
