@import "tailwindcss";

body {
  @apply text-stone-200;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

h1 {
  @apply text-4xl font-medium;
}

h2 {
  @apply text-2xl m-0;
}
