@import "tailwindcss";

body {
  @apply bg-stone-950 text-stone-200;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
